<%= render "modals/wrapper" do %>
  <div class="flex flex-col gap-2">
    <div class="flex my-4 gap-2 justify-center">
      <%= embedded_svg "left_quote_mark.svg", class: "w-4 h-4 shrink-0 text-sky-600" %>
      <blockquote class="text-white">
        <%= @quote.content %>
      </blockquote>
      <%= embedded_svg "right_quote_mark.svg", class: "w-4 h-4 mt-auto shrink-0 text-sky-600 align-right" %>
    </div>
    <% unless @quote.citation.blank? %>
      <figcaption class="text-right">
        <cite class="opacity-50">— <%= @quote.citation %></cite>
      </figcaption>
    <% end %>
    <h3 class="my-3">What does this mean?</h3>
    <%= formatted_quote_explanation(@quote).html_safe %>
    <div class="flex justify-end">
      <button type="button" data-action="click->dismissable#dismiss" class="btn-primary">
        Ok
      </button>
    </div>
  </div>
<% end %>