<%= turbo_frame_tag :notes_collection do %>
  <ul class="flex flex-col gap-1">
    <% if @notes.count != 0 %>
      <% @notes.each do |n| %>
        <li class="flex justify-between items-center bg-slate-800 p-2 rounded-lg shadow">
          <span class=""><%= n.content %></span>
          <span class="shrink-0"><%= n.created_at.strftime("%b %d, %Y") %></span>            
        </li>
      <%end%>
      <div class="flex justify-center">
        <%= paginate @notes %>
      </div>
    <% else %>
      <span class="mx-auto mt-10"><%= @person.name %> has no notes</span>
    <% end %>
  </ul>
<% end %>