<%= turbo_frame_tag :notes_form do %>
  <%= form_with model: @note, url: person_notes_path(@person), class: "mx-6 my-3", method: :post do |f| %>
    <div class="flex">
      <%= f.text_field :content, class: "input-field rounded-r-none #{"error" if @note.errors[:content].any?}", placeholder: "Write something about #{@person.casual_name}...", autofocus: true %>
      <%= f.submit "Post", class: "btn-primary rounded-l-none" %>
    </div>
    <span class="error-message"><%= @note.errors[:content].first%></span>
  <% end %>
<% end %>