<div class="h-full grid grid-cols-12 grid-rows-6 gap-3">
  <div class="card col-span-6 row-span-2">
    <div class="card-header">
      <h5 class="font-bold">Details</h5>
    </div>
    <%=form_with(model: person, class: "grow flex") do |f|%>
      <div class="card-body gap-2 grid grid-cols-6 grid-rows-3">
        <div class="col-span-2">
          <%=f.label :first, class: "font-bold"%>
          <%=f.text_field :first_name, class: "input-field", placeholder: "First name"%>
        </div>
        <div class="col-span-2">
          <%=f.label :middle, class: "font-bold"%>
          <%=f.text_field :middle_name, class: "input-field", placeholder: "Middle name"%>
        </div>
        <div class="col-span-2">
          <%=f.label :last, class: "font-bold"%>
          <%=f.text_field :last_name, class: "input-field", placeholder: "Last name"%>
        </div>
        <div class="col-span-3">
          <%=f.label :nickname, class: "font-bold"%>
          <%=f.text_field :nickname, class: "input-field", placeholder: "Nickname"%>
        </div>
        <div class="flex h-full ml-auto gap-4 items-center mt-auto col-span-3 row-span-2">
          <div>
            <%=person_avatar(@person, size: 150)%>
          </div>
          <div class="flex flex-col justify-between h-full">
            <div class="flex flex-col justify-center grow">
              <%=f.label :avatar, class: "font-bold"%>
              <label for="person_avatar" class="flex gap-3 rounded-lg w-56">  
                <%=f.file_field :avatar, class: "block w-full text-sm
                  file:py-2 file:px-4
                  file:rounded-full file:border-0
                  file:text-sm file:font-semibold
                  file:bg-slate-700 file:text-white
                  file:hover:cursor-pointer
                  hover:file:bg-slate-600
                "%>
              </label>
              <%if @person.errors[:avatar].any?%>
                <span class="text-red-500"><%=@person.errors[:avatar].first%></span>
              <%end%>
            </div>
            <%=f.submit class: "btn-primary", "data-test-id": "save_person_button"%>
          </div>
        </div>
        <div class="col-span-3 flex gap-2">
          <div>
            <%=f.label :title, class: "font-bold"%>
            <%=f.text_field :title, class: "input-field", placeholder: "Captain, CEO, etc."%>
          </div>
          <div>
            <%=f.label :gender, class: "font-bold"%>
            <%=f.text_field :gender, class: "input-field", placeholder: "Male, female, etc."%>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  <div class="card col-span-6 row-span-3">
    <div class="card-header">
      <h5 class="font-bold">Empty space</h5>
    </div>
    <div class="card-body">
    </div>
  </div>
  <div class="card col-span-6 row-span-4">
    <div class="card-header flex gap-1">
      <button class="font-bold btn-primary btn-sm" type="button"><h5>Biography</h5></button>
      <button class="font-bold btn-primary btn-sm" type="button"><h5>Notes</h5></button>
    </div>
    <div class="card-body flex flex-col gap-3">
      <div class="overflow-auto flex flex-col-reverse text-ellipsis">
        <table class="">
          <thead class="table-fixed">
            <tr>
              <th class="text-left">Note</th>
              <th class="text-left whitespace-nowrap">Date added</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="">
            <%person.notes.each do |n|%>
              <tr class="even:bg-neutral-700 border border-l-0 border-r-0 border-neutral-600">
                <td class="p-0 px-1"><%=n.content%></td>
                <td class="p-0 pr-2 whitespace-nowrap"><%=n.created_at.strftime("%b %d, %Y")%></td>
                <td class="p-0 pr-2">
                  <%=form_with model: n, method: :delete, html: { onsubmit: "return confirm(\"Are you sure you want to delete the following note?\\n\\n#{n.content}\");" } do |f|%>
                    <button class="flex justify-center items-center">
                      <%=trashcan_icon(color: 'red-600', size: 24)%>
                    </button>
                  <%end%>
                </td>
              </tr>
            <%end%>
          </tbody>
        </table>
      </div>
      <div class="mt-auto">
        <%if person.persisted?%>
          <%=form_with(model: Note.new, url: person_notes_path(person)) do |f|%>
            <div class="border border-gray-500 rounded-t-lg rounded-b-lg hover:bg-zinc-700 hover:shadow-lg hover:border-transparent focus-within:bg-zinc-700 focus-within:shadow-lg focus-within:border-transparent flex">
              <%=f.text_field :content, autofocus: true, class: "input-field p-4 border-none focus:ring-0", placeholder: "New note"%>
              <button type="submit" class="btn-primary btn-sm my-auto shrink-0 mr-3">Add note</button>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
    
  </div>
  <div class="card col-span-6 row-span-3">
    <div class="card-header">
      <h5 class="font-bold">Empty space</h5>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
