<%= turbo_frame_tag "person-form" do%>
  <% unless @person.errors[:base].empty? %>
    <div class="my-3 flex justify-center">
      <p class="form-error-message">
        <%= @person.errors[:base].first %>
      </p>
    </div>
  <% end %>
  <%= form_with model: @person, data: { turbo: false } do |f| %>
    <div class="gap-2 grid grid-cols-6">
      <div class="col-span-2">
        <div class="relative">
          <%= f.text_field :first_name, class: "input-field floating peer #{"error" if @person.errors[:first_name].any?}", placeholder: "" %>
          <%= f.label :first_name, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:first_name].any?}" %>
        </div>
        <span class="error-message"><%= @person.errors[:first_name].first%></span>
      </div>
      <div class="col-span-2">
        <div class="relative">
          <%= f.text_field :middle_name, class: "input-field floating peer #{"error" if @person.errors[:middle_name].any?}", placeholder: "" %>
          <%= f.label :middle_name, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:middle_name].any?}" %>
        </div>
        <span class="error-message"><%= @person.errors[:middle_name].first%></span>
      </div>
      <div class="col-span-2">
        <div class="relative">
          <%= f.text_field :last_name, class: "input-field floating peer #{"error" if @person.errors[:last_name].any?}", placeholder: "" %>
          <%= f.label :last_name, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:last_name].any?}" %>
        </div>
        <span class="error-message"><%= @person.errors[:last_name].first%></span>
      </div>
    </div>
    <div class="flex gap-2 mt-3">
      <div class="basis-2/3 flex flex-col">
        <div class="relative">
          <%= f.text_field :nickname, class: "input-field floating peer #{"error" if @person.errors[:nickname].any?}", placeholder: "" %>
          <%= f.label :nickname, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:nickname].any?}" %>
        </div>
        <span class="error-message"><%= @person.errors[:nickname].first%></span>
        <div class="flex gap-2 mt-3">
          <div class="grow">
            <div class="relative">
              <%= f.text_field :title, class: "input-field floating peer #{"error" if @person.errors[:title].any?}", placeholder: "" %>
              <%= f.label :title, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:title].any?}" %>
            </div>
            <span class="error-message"><%= @person.errors[:title].first%></span>
          </div>
          <div class="grow">
            <div class="relative">
              <%= f.text_field :gender, class: "input-field floating peer #{"error" if @person.errors[:gender].any?}", placeholder: "" %>
              <%= f.label :gender, class: "form-label floating bg-slate-900 #{"error" if @person.errors[:gender].any?}" %>
            </div>
            <span class="error-message"><%= @person.errors[:gender].first%></span>
          </div>
        </div>
      </div>
      <div class="flex flex-col grow justify-between">
        <div class="flex items-center justify-center my-auto">
          <%= avatar(@person, size: 64) %>
          <div>
            <%= f.label :avatar, class: "form-label" %>
            <label for="person_avatar" class="flex gap-3 rounded-lg w-56">  
              <%= f.file_field :avatar, class: "file-field" %>
            </label>
            <% if @person.errors[:avatar].any? %>
              <span class="text-red-500"><%= @person.errors[:avatar].first %></span>
            <% end %>
          </div>
        </div>
        <div class="flex justify-end">
          <%= f.submit class: "btn-primary", "data-test-id": "save_person_button" %>
        </div>
      </div>
    </div>
  <% end %>
  
<% end %>