<div class="w-full min-h-full flex justify-center">
  <div class="w-2/3 p-5 flex flex-col gap-2">
    <div class="">
      <div class="card-body flex flex-col">
        <div class="w-full flex justify-end">            
          <div class="absolute flex items-center gap-1 opacity-0 hover:opacity-100 transition-opacity">
            <a class="btn-primary btn-sm" href="<%=edit_person_path(@person)%>">
              <%= image_tag 'edit_icon.svg', size: 24%>
            </a>
            <%=form_with model: @person, url: person_path(@person), method: :delete, html: { onsubmit: "return confirm(\"Are you sure you want to delete the following person?\\n\\n#{@person.name}\");" } do%>
              <button class="btn-sm btn-danger">
                <%=trashcan_icon%>
              </button>
            <%end%>
          </div>
        </div>
        <div class="flex gap-3 items-center pl-6">
          <%=person_avatar(@person, class: "person-avatar hover:scale-100", size: 180)%>
          <div class="my-auto flex flex-col gap-2 w-full">
            <h2 class="truncate w-full font-bold"><%=@person.name%></h2>
            <ul class="flex gap-2">
              <%@person.traits.order(positivity: :desc).each do |t|%>
                <li class="rounded-full px-2 py-1 <%=color_class(t)%>">
                  <%=t.word%>
                </li>
              <%end%>
            </ul>
            <p class="opacity-50 text-sm">Remember people are complex and cannot be meaningfully reduced to a list of traits. You should always look for the best in people.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="card grow">
      <%= render 'tab_bar' %>
      
      <% case @tab %>
      <% when :notes %>
        <%= render "notes" %>
      <% when :mentions %>
        <%= render "mentions" %>
      <% else %>
      
      <% end %>
  </div>
    <!--
    <div id="mentions-card" class="card relative" data-action="mousemove->fader#fadeOut mouseleave->fader#fadeIn" data-target="mentions-fader" data-controller="fader">
      <div class="card-header">
        <h5 class="font-bold">Mentions</h5>
      </div>
      <div class="card-body flex flex-col">
        <div class="overflow-auto grow">
          <ul class="flex flex-wrap gap-2">
            <%@person.entries.order(published_at: :desc).each do |e|%>
              <li class="py-1 px-2 bg-slate-700 rounded-lg shrink min-w-fit w-2/5 h-fit shadow shadow-black/50">
                <div class="flex">
                  <a href="<%=entry_path(e)%>" class="shrink flex font-bold hover:scale-101 max-w-full">
                    <h3 class="shrink truncate max-w-full hover:underline"><%=e.title.blank? ? "Untitled" : e.title%></h3>
                  </a>
                </div>
                <div class="flex flex-row align-center gap-3">
                  <h6 class="my-auto"><%=e.last_updated_caption%></h6>
                  <div class="flex flex-row">
                    <%e.people.each_with_index do |p, i|%>
                      <%=render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32}%>
                    <%end%>
                  </div>
                </div>
              </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    -->
  </div>
</div>