<div class="pb-4 w-full">
  <div class="grid grid-cols-3 gap-3"> 
    <% entries.each_with_index do |e, i| %>
      <% puts "⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️⚠️ #{i}: #{e.title}" %>
      <% if e.pictures.count >= 1 %>
        <div class="card relative h-64">
          <%= image_tag e.pictures.sample.file, class: "h-full w-full object-cover rounded-t-lg" %>
          <!--
          <div class="w-full h-full absolute flex flex-col overflow-hidden rounded-lg">
            <div class="bg-gradient-to-b from-transparent to-slate-800 grow"></div>
            <div class="h-12 bg-slate-800"></div>
          </div>
          --> 
          <div class="z-10 flex">
            <div class="m-2 bg-slate-800">
              <a href="<%= entry_path(e) %>" class="shrink flex font-bold hover:underline h3">
                <h3 class="shrink"><%= e.title.blank? ? "Untitled" : e.title %></h3>
              </a>
              <div class="flex flex-row align-center gap-2">
                <h6 class="my-auto"><%= e.last_updated_caption %></h6>
                <div class="flex flex-row">
                  <% e.people.each_with_index do |p, i| %>
                    <%= render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32} %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% else %>
        <div class="card h-64 flex justify-center items-center gap-2">
          <a href="<%= entry_path(e) %>" class="shrink flex font-bold hover:underline h3">
            <h3 class="shrink text-center"><%= e.title.blank? ? "Untitled" : e.title %></h3>
          </a>
          <h6><%= e.last_updated_caption %></h6>
          <div class="flex flex-row">
            <% e.people.each_with_index do |p, i| %>
              <%= render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32} %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<div class="flex justify-center mt-auto pb-10">
  <%= paginate entries %>
</div>