<%= turbo_frame_tag :entries do %>
  <% if !@entries.empty?%>
    <div class="grid grid-cols-3 gap-3"> 
      <% @entries.each_with_index do |e, i| %>
        <% if e.content.embeds_blobs.count != 0 %>
          <div class="relative h-64 flex">
            <%= image_tag e.content.embeds_blobs.sample.variant(resize_to_limit: [720, 720]), class: "absolute h-full w-full object-cover rounded-t-lg rounded-b-xl" %>
            <div class="z-10 mt-auto grow">
              <div class="bg-slate-800 p-2 rounded-b-lg">
                <%= link_to entry_path(e), class: "shrink flex font-bold hover:underline", data: { turbo_frame: "_top" } do %>
                  <h3 class="shrink"><%= e.title.blank? ? "Untitled" : e.title %></h3>
                <% end %>
                <div class="flex flex-row align-center gap-2">
                  <h6 class="my-auto"><%= entry_last_updated(e) %></h6>
                  <div class="flex flex-row">
                    <% e.people.each_with_index do |p, i| %>
                      <%= render partial: 'people/avatar', locals: { person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32 } %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card h-64">
            <div class="card-body flex flex-col justify-center items-center gap-2">
              <%= link_to entry_path(e), class: "shrink flex font-bold hover:underline h3", data: { turbo_frame: "_top" } do %>
                <h3 class="shrink"><%= e.title.blank? ? "Untitled" : e.title %></h3>
              <% end %>
              <h6><%= entry_last_updated(e) %></h6>
              <div class="flex flex-row">
                <% e.people.each_with_index do |p, i| %>
                  <%= render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32} %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% elsif @keyword%>
    <div class="flex h-full">
      <h5 class="m-auto text-center">Your search for <span class="font-bold">"<%= @keyword%>"</span> did not return anything. Try using another keyword.</h5>
    </div>
  <% else %>
    <div class="flex h-full">
      <h5 class="m-auto text-center">You don't have any entries here. Click <%=link_to "here", new_entry_path, class: "hyperlink", data: { turbo_frame: "_top" } %> to write one.</h5>
    </div>
  <% end %>
<% end %>