<div class="pb-4 w-full">
  <div class="grid grid-cols-2 gap-3">
    <%entries.each do |e|%>
      <div class="card border-slate-700">
        <div class="card-header flex justify-between">
          <div>
            <div class="flex">
              <a href="<%=entry_path(e)%>" class="shrink flex font-bold hover:underline h3">
                <h3 class="shrink"><%=e.title.blank? ? "Untitled" : e.title%></h3>
              </a>
            </div>
            <div class="flex flex-row align-center gap-3">
              <h6 class="my-auto"><%=e.published_at.blank? ? "Unknown date" : e.published_at.strftime("%b %d, %Y")%></h6>
              <div class="flex flex-row">
                <%e.people.each_with_index do |p, i|%>
                  <%=render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32}%>
                <%end%>
              </div>
            </div>
          </div>
          <div class="flex items-center opacity-0 hover:opacity-100 transition-opacity">            
            <a class="nav-link" href="<%=edit_entry_path(e)%>">
              <%= image_tag 'edit_icon.svg', size: 24%>
            </a>
            <%=form_with model: e, url: entry_path(e), method: :delete, html: { onsubmit: "return confirm(\"Are you sure you want to delete the following entry?\\n\\n#{e.title}\\n#{e.published? ? "Published #{e.published_at.strftime("%b %d, %Y")}" : "Saved #{e.updated_at.strftime("%b %d, %Y")}"} #{}\");" } do%>
              <button class="nav-link">
                <%=trashcan_icon%>
              </button>
            <%end%>
          </div>
        </div>
        <div class="card-body max-h-48 flex gap-5 justify-between">
          <div class="overflow-hidden relative grow">
            <div class="w-full h-full bg-gradient-to-b from-transparent to-neutral-800 absolute"></div>
            <%=e.text_content%>
          </div>
          <%if e.pictures.count >= 1%>
            <%=image_tag e.pictures.sample.file, class: "h-full rounded-lg object-contain"%>
          <%end%>
        </div>
      </div>
    <%end%>
  </div>
</div>
<div class="flex gap-2 pb-10">
  <div class="flex w-full justify-end">
    <%=link_to "Previous", path_to_prev_page(entries), class: "btn-primary"%>
  </div>
  <div class="flex w-full">
    <%=link_to "Next", path_to_next_page(entries), class: "btn-primary"%>
  </div>
</div>