<%= form_with(model: entry, class: "contents") do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :published_at %>
    <%= form.datetime_field :published_at, class: "input-field" %>
  </div>

  <div class="my-5">
    <%= form.label :text_content %>
    <%= form.rich_text_area :text_content, class: "input-field" %>
  </div>

  <div class="inline">
    <%= form.submit class: "btn-primary" %>
  </div>
<% end %>
