<div class="grid grid-cols-4 grow gap-2 mt-3">
  <div class="col-span-3 flex flex-col grow">
    <%= form_with model: @entry, class: "flex flex-col grow gap-8" do |f| %>
      <div class="flex gap-2">
        <%= f.text_field :title, class: "input-field", placeholder: "Title" %>
        <%= render 'save_bar' %>
      </div>
      <div class="grow flex flex-col">
        <%= f.rich_text_area :content, class: "grow" %>
      </div>
    <% end %>
  </div>
  <div class="flex flex-col grow-0 gap-2">
    <% if @entry.persisted? %>
      <%= render 'search_bar' %>
      <div>
        <div class="h-96 overflow-auto">
        <%= turbo_frame_tag 'mentions', data: { "test-id": "mentions-turbo-frame" } do %>
          <%= render 'mentions/collection' %>
        <%end%>
        </div>
      </div>
      <div class="card grow basis-1/2"> <!-- Pictures -->
        <div class="card-body">
          <div class="flex items-center justify-center w-full"> <!-- Picture upload area -->
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-14 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">
              <div class="flex items-center justify-center gap-3">
                <%= embedded_svg "upload_icon.svg", class: "w-8 h-8" %>
                <p>Upload</p>
              </div>
              <input id="dropzone-file" type="file" class="hidden"/>
            </label>
          </div>
          <div class=""> <!-- Picture rendering area -->
            <ul>
              <% Picture.first(3).each do |p| %>
                <li class="group hover:bg-slate-800 rounded-lg flex justify-between items-center p-2">
                  <div class="flex gap-2 items-center grow">
                    <%= image_tag p.file, class: "h-12 object-contain rounded-lg" %>
                  </div>
                  <button 
                    class="invisible group-hover:visible hover:bg-slate-700 hover:bg-opacity-50 p-2 rounded-full"
                    url="<%=  %>"
                    data-action="click->pictures#delete">
                    <%= embedded_svg "x_icon.svg", class: "w-4 h-4 pointer-events-none" %>
                  </button>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% else %>
      <div class="card grow">
        <div class="card-body flex items-center justify-center">
          <span>Save this entry to add mentions and pictures.</span>
        </div>
      </div>
    <% end %>
  </div>
</div>