<div class="w-full flex justify-center">
  <div class="w-2/3 p-5">
    <% if @entry.deleted? %>
      <div class="flex justify-center" data-controller="dismissable">
        <h5 class="text-center form-error-message flex gap-2 items-center my-4" data-dismissable-target="alertBox">
          This entry was deleted on <%= @entry.deleted_at.strftime("%b %d, %Y") %>. It will be permanently deleted on <%= @entry.will_be_permanently_deleted_at.strftime("%b %d, %Y") %>
          <button type="button" data-action="click->dismissable#dismiss" class="hover:opacity-50">
            <%= embedded_svg 'x_icon.svg', class: "w-4 h-4" %>
          </button>
        </h5>
      </div>
    <% end %>
    <div class="flex mb-5">
      <div class="grow">
        <h2 class="font-bold"><%=@entry.title%></h2>
        <div class="flex flex-row align-center gap-3 mt-1">
          <h5 class="my-auto text-gray-400"><%= entry_last_updated(@entry) %></h5>
          <div class="flex flex-row">
            <%@entry.people.each_with_index do |p, i|%>
              <%=render partial: 'people/avatar', locals: {person: p, css_class: "#{'-ml-2' unless i == 0}", size: 32}%>
            <%end%>
          </div>
        </div>
      </div>
      <% if @entry.deleted? %>
        <div class="flex flex-col gap-2 shrink-0 justify-center">
          <%= recover_button(@entry) %>
        </div>
      <% else %>
        <div class="flex flex-col gap-2 shrink-0 justify-center">
          <%= edit_button(@entry) %>
          <%= mark_as_deleted_button(@entry) %>
        </div>
      <% end %>
    </div>
    <div class="card">
      <div class="card-body">
        <%= @entry.content %>
      </div>
    </div>
  </div>
</div>