<%= render "layouts/solo_card" do %>
  <h2 class="text-center font-bold my-5">Sign in</h2>
  <div class="my-3 flex justify-center">
    <% if @user.errors[:base].any? %>
      <p class="form-error-message"><%= @user.errors[:base].first %></p>
    <% end %>
  </div>
  <%= form_with model: @user, url: sign_in_path, data: { turbo: true } do |f| %>
    <div class="my-5 relative">
      <%= f.text_field :email, class: "input-field floating peer", placeholder: "", autofocus: true, autocomplete: false %>
      <%= f.label :email, class: "form-label floating bg-slate-800" %>
    </div>
    <div class="my-5 relative">
      <%= f.password_field :password, class: "input-field floating peer", placeholder: "" %>
      <%= f.label :password, class: "form-label floating bg-slate-800" %>
    </div>
    <div class="my-5 flex items-center gap-2">
      <%= check_box_tag :stay_signed_in, 1, false, class: "input-field check-box" %>
      <%= label_tag :stay_signed_in, "Stay signed in", class: "form-label" %>
    </div>
    
    <%= f.submit "Sign in", class: "btn-primary w-full my-3" %>
    <div class="text-center">
      Don't have an account yet? <%= link_to "Sign up", new_user_path, class: "inline-block text-sky-600 hover:underline" %>
    </div>
  <% end %>
<% end %>