<%= form_with model: @user, data: { turbo: false } do |f| %>
  <div class="my-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "input-field #{"error" if @user.errors[:email].any?}", placeholder: "Enter your email", autocomplete: false %>
    <span class="error-message"><%=@user.errors[:email].first%></span>
  </div>
  <div class="my-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "input-field #{"error" if @user.errors[:password].any?}", placeholder: "At least 8 characters" %>
    <span class="error-message"><%=@user.errors[:password].first%></span>
  </div>
  <div class="my-3">
    <%= f.label :password_again, class: "form-label" %>
    <%= f.password_field :password_confirmation, class: "input-field #{"error" if @user.errors[:password_confirmation].any?}", placeholder: "In case there's a typo" %>
    <span class="error-message"><%=@user.errors[:password_confirmation].first%></span>
  </div>
  <div class="flex mt-8 w-full justify-between items-center">
    <% if @user.persisted? %>
      <%= f.submit class: "btn-primary" %>
    <% else %>
      <%= f.submit "Sign up", class: "btn-primary" %>
      <%= link_to "Sign in", sign_in_path, class: "text-blue-500 hover:underline" %>
    <% end %>
  </div>
<% end %>
