<div class="p-2">
  <% if @mentions.blank? || @keyword.nil?%>
    <% if @keyword.blank? %>
      <p class="text-center">Start typing to search</p>
    <% else %>
      <p class="text-center">No results for <%= @keyword %></p>
    <% end %>
  <% else %>
    <ul class="flex flex-col" data-controller="mentions">
      <% @mentions&.each do |m| %>
        <li class="group/li first:pt-0 last:pb-0 rounded-lg py-1">
          <%= form_with model: m, url: entry_mentions_path(@entry) do |form| %>
            <%= form.hidden_field :person_id %>
            <%= form.hidden_field :entry_id %>
            <button data-test-id="add-mention-<%=m.person.id%>" class=" flex justify-between w-full" data-action="click->mentions#closeResults">
              <div class="flex gap-2 items-center">
                <%= avatar m.person, size: 28 %>
                <h6 class="font-bold"><%= m.person.name %></h6>
              </div>
              <div class="hover:bg-slate-800 hover:bg-opacity-50 rounded-lg py-0.5 px-1 invisible group-hover/li:visible flex gap-1 items-center">
                <%= embedded_svg "plus_icon.svg", class: "w-3 h-3" %>
                Add
              </div>
            </button>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
