<!DOCTYPE html>
<html>
  <head>
    <title>Life Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font"%>

    <%= stylesheet_link_tag "application"%>
    <%= javascript_importmap_tags %>

    <script src="https://unpkg.com/gsap@latest/dist/gsap.min.js"></script>
  </head>

  <body data-barba="wrapper">
    <%=render "layouts/navbar"%>
    <main class="relative">
      <div class="w-full h-full flex flex-row overflow-auto" data-barba="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
