<!DOCTYPE html>
<html>
  <head>
    <title>Life Journal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%=render "layouts/navbar" %>
    <main class="relative">
      <%= render "layouts/alerts" %>
      <div class="w-full h-full flex flex-col overflow-auto">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
